.sidebar {
  min-width: 20%;
  min-height: 100vh;
  border: 1.5px solid var(--border);
  border-top: 0;
  margin-top: -3rem;
}
.sidebar-option {
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-options {
  color: var(--titleColor);
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--border);
  border-right: 0;
  padding: 8px 10px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  transition: 0.5s;
}
.sidebar-options .icon-plus-alt,
.sidebar-options .icon-clipboard,
.sidebar-options .icon-box {
  font-size: 20px;
}
.sidebar-options:hover {
  margin-left: -10%;
  background-color: var(--mainColor);
  color: #fff;
}
.sidebar-options.active {
  margin-left: -10%;
  background-color: var(--mainColor);
  color: #fff;
}

@media screen and (max-width: 900px) {
  .sidebar-options p {
    display: none;
  }
}
